vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Mar 2016 21:59:08 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|Amer\\AMER SAMI
vti_modifiedby:SR|Amer\\AMER SAMI
vti_timecreated:TR|23 Mar 2016 21:59:08 -0000
vti_cacheddtm:TX|23 Mar 2016 21:59:08 -0000
vti_filesize:IR|691
vti_cachedlinkinfo:VX|S|http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff
vti_cachedsvcrellinks:VX|NSHS|http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff
vti_backlinkinfo:VX|About\\ me.htm laptop2.htm post.htm printer.htm Samsung.htm buy\\ visa.htm Designs.htm Advertisement.htm iphone.htm
